body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#bank-window{
  position: fixed;
  top: 10%;
  left: 40%;
  z-index: 20000;
  display: flex;
}
.window-container {
    border: 5px solid #0b65f4;
    border-radius: 5px;
    width: 18%;
    max-height: 53vh;
}

.window-frame {
    background-color: #c0c0c0; 
    overflow: hidden;
}

.bar-title {
    background-color: #0B65F4; 
    color: white;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-family: "tahoma";
    cursor: default;
}

.title-bar-controls button {
    background-color: #CB4929;
    color: white;
    width: 25px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid #fff;
}

.title-bar-controls button:active {
    border: 2px solid #808080;
    border-right-color: #fff;
    border-bottom-color: #fff;
}

.window-content {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-top: 5px solid #A9A9A9;
    border-left: 5px solid #A9A9A9;
    min-height: 40.5vh;
}

.emoji {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.message-Argent {
    font-size: 1.1em;
    color: #333;
    margin: 0;
}

.sender {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.amount-display {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 1.2em;
    color: #333;
    width: 80%;
    margin-top: 10px;
}

.send-button {
    background-color: #0b65f4; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
}

.send-button:hover {
    background-color: #357ae8;
}

.send-button:active {
    background-color: #2a65c2;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}