/* Styles pour l'écran d'erreur/piratage */
.hacked-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Pour être au-dessus de tout */
}

.hacked-screen.hidden {
    display: none;
}

.error-window {
    width:800px;
    min-height: 500px;
    background-color: #C0C0C0; /* Gris clair */
    border: 2px solid #000;
    box-shadow: -5px 5px 0px 0px #000; /* Ombre pour un effet 3D */
    font-family: 'Courier New', Courier, monospace; /* Police pixelisée */
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 18px 0px 0px 0px;
}

.error-header {
    background-color: #A00000; /* Rouge foncé */
    color: #B5BAC0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #000;
    border-radius: 16px 0px 0px 0px;
}

.error-title {
    font-family: "VT323";
    font-size: 1.4em;
}

.close-error-window {
    /* background-color: #B5BAC0; 
    border: 1px solid #000;*/
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1.2em;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.error-body {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.error-body .p1{
    font-weight: 500;
}

.error-icon {
    width: 64px; /* Taille de l'icône X */
    height: 64px;
    margin-bottom: 20px;
}

.error-body p {
    margin: 10px 0;
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: bold;
}

.error-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    width: 65%;
}

.error-actions button {
    background-color: #EAEAEA;
    border: 2px solid #000;
    padding: 10px 20px;
    font-family: "VT323";
    font-size: 1.6em;
    cursor: pointer;
    box-shadow: 2px 2px 0px 0px #000;
    transition: all 0.1s ease;
    width: 100%;
}

.error-actions button:hover {
    background-color: #D0D0D0;
    box-shadow: 1px 1px 0px 0px #000;
    transform: translate(1px, 1px);
}

.error-actions button:active {
    background-color: #B0B0B0;
    box-shadow: 0px 0px 0px 0px #000;
    transform: translate(2px, 2px);
}