
.slideshow-container {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.slideshow-image {
width: 100%;
max-height: 100%;
object-fit: fill;
transition: opacity 1s ease-in-out;
opacity: 0;
position: absolute;
}
.slideshow-image.active {
opacity: 1;
}
