body {
  overflow: hidden;
}
.container {
  max-width: 1500px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "tahoma";
  font-weight: normal;
}

.main-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.main-title-icon {
  width: 45%;
}

.nav-button-info {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  text-align: center;
  opacity: 0.8;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 30px;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  background: #e4f1ff;
  border-radius: 18px;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
}

.card.tips {
  max-height: 63%;
}

.card.tips img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 8px;
}

.tips-main-content-row {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.tips-icon-column {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
}

.tips-text-column {
  flex-grow: 1;
}

.tips-text-column h2 {
  margin-top: 0;
}

.tips-text-column h3 {
  margin-top: 0;
}

h2 {
  margin-top: 0;
  font-size: 1.2em;
}

h3 {
  margin-bottom: 6px;
  color: #000;
}

p {
  line-height: 1.5;
}

.highlight {
  font-size: 1em;
  font-weight: bold;
  margin: 12px 0 5px;
}

.danger {
  color: #ff5c5c;
}

.info {
  color: #000;
}

.source {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 12px;
}

.tips ul {
  list-style: none;
  padding-left: 0;
}

.tips li {
  margin: 14px 0;
  position: relative;
}

a {
  text-decoration: underline;
}
canvas {
  width: 100% !important;
  max-width: 300px;
  display: block;
  margin: 15px auto;
}

.information-window {
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
  background-color: #e0e0e0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  font-family: "tahoma";
}

.title-bar-info {
  background-color: #0b65f4;
  color: white;
  padding: 8px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "tahoma";
  cursor: grab;
  border-radius: 8px 8px 0px 0px;
}

.title-bar-info .title {
  font-size: 1.1em;
}

.title-bar-info .close-button-info {
  background-color: #cb4929;
  color: white;
  border: 2px solid #fff;
  padding: 3px 8px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

.title-bar-info .close-button-info:hover {
  background-color: #cc0000;
}

.window-content-info {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #fff;
  border: 8px solid #0b65f4;
  border-top: 0;
  height: 100%;
  max-height: 82vh;
}

.main-cards-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  align-items: stretch;
}

.column-of-two-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 2;
}

.single-card-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-content-row-escroquerie {
  align-items: flex-start;
}

.card-text-content {
  flex: 1;
}

.card-canvas-container {
  flex-shrink: 0;
  width: 100%;
  max-width: 300px;
}
