body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.window-container {
  border: 5px solid #0b65f4;
  width: 80%;
  max-width: 50%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0px 0px;
}

.title-bar {
  background: linear-gradient(to right, #0b65f4);
  height: 3.5vh;
  color: #fff;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  cursor: default;
}

.title-bar-text {
  margin-left: 2px;
}

.title-bar-controls button {
  background-color: #cb4929;
  border: 1px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  width: 25px;
  height: 25px;
  font-size: 1em;
  line-height: 1;
  padding: 0px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-bar-controls button:active {
  border: 2px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.window-content {
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  border: 15px solid #e3e3e3;
}

.page {
  display: none;
  width: 99%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #a9a9a9;
}

.page.active {
  display: flex;
}

.online-logo {
  width: 50%;
  margin-bottom: 20px;
}

.online-logo-small {
  width: 25%;
  margin-right: 10px;
}
.window-content .description {
  margin-bottom: 0px;
  font-size: 1.2em;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 65%;
  margin-top: 10px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #b5b5b7;
  font-size: 1em;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 25px 25px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.online-button {
  padding: 5px 15px;
  background-color: #d9d9d9;
  border: 2px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  font-size: 0.9em;
  cursor: pointer;
}

.online-button:active {
  border: 2px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.more-online {
  margin-top: 30px;
  color: #0b65f4;
  text-decoration: underline;
  font-size: 1em;
}

.copyright {
  font-size: 0.8em;
  color: #555;
  margin-top: 10px;
}

/* Page 3 Specific Styles */
.results-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 10px;
}

.search-input-results {
  flex-grow: 0;
  width: 50%;
  padding: 8px;
  border: 1px solid #7f9db9;
  font-size: 1em;
  margin-right: 5px;
  border-radius: 25px 25px;
}

.online-button-results {
  padding: 3px 10px;
  background-color: #d9d9d9;
  border: 2px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  font-size: 0.8em;
  cursor: pointer;
  padding: 5px;
  width: 16%;
}

.results-summary {
  background: #d5ddf3;
  height: 12%;
  padding: 5px;
  width: 98.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 0.9em;
  border-top: 4px solid #90aae2;
}

.web-year {
  font-weight: bold;
}

.search-results {
  width: 95%;
  text-align: left;
}

.result-item {
  margin-bottom: 15px;
}

.result-item h3 {
  margin: 0 0 5px 0;
  font-size: 1.1em;
}

.result-item h3 a {
  color: #0b65f4;
  text-decoration: underline;
  font-weight: 100;
}
.result-item span {
  font-weight: bold;
}
.result-item p {
  margin: 0;
  font-size: 0.9em;
}

.result-item .url {
  color: #53a953;
  font-size: 0.8em;
}

.result-item .url a {
  color: #0b65f4;
  text-decoration: underline;
}
.result-item .result-title {
  color: #6a3799;
  font-weight: bold;
}

/* Styles for Loading Page */
.loading-page {
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1.5em;
  color: #333;
}

/* Styles for Browser Page */
.browser-header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border-bottom: 2px solid #808080;
  width: 99%;
}

.browser-controls {
  display: flex;
  width: 12%;
  justify-content: space-around;
}

.browser-button {
  background-color: #c0c0c0;
  border: 1px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  width: 25px;
  height: 25px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.browser-button:active {
  border: 1px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.address-bar {
  flex-grow: 1;
}

.address-bar input {
  width: 95%;
  padding: 8px;
  border: 1px solid #8b8b8b;
  background-color: #fff;
  font-size: 0.9em;
  border-radius: 25px 25px;
  color: #8b8b8b;
}

.browser-content {
  flex-grow: 1;
  background-color: #10152b;
  color: #fff;
  padding: 15px;
  text-align: left;
  overflow-y: auto;
}

.blog-title {
  color: #ff0000; /* Red color for titles */
  margin-bottom: 10px;
  font-size: 1.5em;
}

.missing-person-entry {
  display: flex;
  margin-bottom: 20px;
}

.person-image-placeholder {
  width: 100px;
  height: 100px;
  background-color: #c0c0c0;
  border: 1px solid #808080;
  margin-right: 15px;
  flex-shrink: 0;
}

.person-details h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.person-details p {
  margin-bottom: 5px;
  font-size: 0.9em;
}
